.site__header {
  display: flex;
  width: 72%;
  margin: 0 auto;
  align-items: center;
  padding-top: 50px;
  margin-bottom: 55px;
}
@media (max-width: 1099px) {
  .site__header {
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin: 0 auto;
    align-items: center;
    padding-top: 50px;
    margin-bottom: 55px;
    position: fixed;
    top: -25px;
    left: 4%;
    z-index: 2;
    background-color: #fff;
    opacity: 0.8;
  }
}
@media (max-width: 375px) {
  .site__header {
    width: 90%;
  }
}
@media (max-width: 375px) {
  .site__header {
    width: 91%;
    left: 9%;
  }
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  margin-right: 40px;
  background-color: #1ea59a;
  border-radius: 50%;
}
.logo a {
  display: block;
  color: #fff;
  font-size: 10px;
  font-weight: 800;
  line-height: 10px;
  letter-spacing: 0.5px;
}
@media (max-width: 768px) {
  .logo {
    width: 65px;
    height: 65px;
  }
  .logo a {
    font-size: 30px;
  }
}

.header__nav-wrapper {
  width: 100%;
  font-weight: 600;
  font-size: 13px;
  line-height: 19px;
  letter-spacing: 0.5px;
  height: 30px;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1099px) {
  .header__nav-wrapper {
    display: none;
  }
  .header__nav-wrapper.show__menu {
    width: 200px;
    height: 285px;
    flex-direction: column;
    position: absolute;
    z-index: 50;
    left: 50%;
    top: 50%;
    background-color: #383333;
    display: flex;
  }
  .header__nav-wrapper.show__menu .site__nav {
    flex-direction: column;
  }
  .header__nav-wrapper.show__menu .site__nav ul {
    flex-direction: column;
  }
  .header__nav-wrapper.show__menu .site__nav ul li {
    width: 100%;
    margin: 0;
    font-size: 20px;
    padding: 5px;
    border-bottom: 1px sold silver;
    border: margin;
    border: 3px solid red;
    margin-bottom: 10px;
  }
  .header__nav-wrapper.show__menu .site__nav ul li a {
    color: red;
  }
}

.site__nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.site__nav-list,
.contacts__nav-list {
  display: flex;
  padding-top: 5px;
}

.nav__list-item {
  margin-right: 41px;
  text-align: center;
}

.nav__list-link {
  color: #000000;
}

.nav__list-link:after {
  background-color: #fe753e;
  display: block;
  content: "";
  height: 2px;
  width: 0%;
  transition: width 0.5s ease-in-out;
}

.nav__list-link:hover:after,
.nav__list-link:hover:active,
.nav__list-link:focus:after {
  width: 100%;
}