.section__previews-wrapper {
  width: 72%;
  margin: 0 auto;
  margin-bottom: 150px;
}
@media (max-width: 1050px) {
  .section__previews-wrapper {
    margin-bottom: 117px;
  }
}
@media (max-width: 680px) {
  .section__previews-wrapper {
    margin-bottom: 95px;
  }
}
@media (max-width: 450px) {
  .section__previews-wrapper {
    margin-bottom: 75px;
  }
}

.site__header-bottom {
  position: relative;
}
.site__header-bottom .header__bottom-previews {
  position: absolute;
  top: 18%;
}
@media (max-width: 990px) {
  .site__header-bottom .header__bottom-previews {
    left: -10%;
    top: 18%;
  }
}
@media (max-width: 680px) {
  .site__header-bottom .header__bottom-previews {
    top: 7%;
  }
}
@media (max-width: 375px) {
  .site__header-bottom .header__bottom-previews {
    top: 30%;
    left: 0;
  }
}
@media (max-width: 320px) {
  .site__header-bottom .header__bottom-previews {
    left: 36px;
    width: 308px;
    top: 27%;
  }
}
.site__header-bottom .header__bottom-previews .previews__title {
  max-width: 454px;
  font-weight: 800;
  font-size: 55px;
  line-height: 65px;
  margin-bottom: 60px;
  letter-spacing: -1px;
  color: #121212;
}
@media (max-width: 768px) {
  .site__header-bottom .header__bottom-previews .previews__title {
    font-size: 51px;
    line-height: 60px;
  }
}
@media (max-width: 680px) {
  .site__header-bottom .header__bottom-previews .previews__title {
    font-size: 35px;
    line-height: 38px;
    margin-bottom: 165px;
    color: #ff1939;
  }
}
@media (max-width: 375px) {
  .site__header-bottom .header__bottom-previews .previews__title {
    font-size: 26px;
    line-height: 28px;
  }
}

.previews__select-wrapper {
  position: relative;
  display: flex;
  justify-content: space-around;
  background: #ffffff;
  box-shadow: 0px 20px 30px rgba(64, 72, 82, 0.1);
  border-radius: 10px;
  padding-bottom: 6%;
  padding-top: 6%;
}
@media (max-width: 768px) {
  .previews__select-wrapper {
    padding-bottom: 4%;
    padding-top: 4%;
  }
}

.select__title {
  width: 155px;
  display: inline-block;
  font-weight: normal;
  font-size: 13px;
  line-height: 21px;
  letter-spacing: 0.3px;
  color: #7d8186;
}
@media (max-width: 320px) {
  .select__title {
    width: 89px;
    font-size: 12px;
    line-height: 16px;
  }
}

.select {
  position: relative;
}

.select__wrapper {
  display: flex;
  max-width: 491px;
  width: 100%;
}

.select__head {
  width: 150px;
  cursor: pointer;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 30px;
  letter-spacing: 0.3px;
  text-transform: capitalize;
  color: #000000;
}

.select__head::after {
  width: 10px;
  height: 6px;
  background: #fff url("../images/default/Path.svg") no-repeat center/cover;
  position: absolute;
  right: -7%;
  bottom: 41%;
  transform: translateY(50%);
  content: "";
  display: block;
  transition: 0.2s ease-in;
}

.select__head.open::after {
  transform: translateY(50%) rotate(180deg);
}

.select__list {
  display: none;
  position: absolute;
  text-align: center;
  top: 100%;
  left: -25px;
  right: 0px;
  background: #fff;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  margin-top: 5px;
  max-height: 205px;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 100;
  margin: 0;
  padding: 0;
  font-size: 14px;
  color: #424348;
  scrollbar-color: dark;
  scrollbar-width: thin;
  overscroll-behavior: contain;
}
@media (max-width: 768px) {
  .select__list {
    left: -19px;
    width: 213px;
  }
}
@media (max-width: 680px) {
  .select__list {
    left: -17px;
    width: 213px;
  }
}
@media (max-width: 528px) {
  .select__list {
    top: 75px;
    left: 47px;
  }
}

.select__list::-webkit-scrollbar {
  width: 7px;
  background-color: #f8f9fa;
  padding: 5px;
}

.select__list::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #d9d9d9;
}

.select__list .select__item {
  position: relative;
  border-top: 1px solid rgba(224, 229, 231, 0.5);
  padding: 10px 15px;
  cursor: pointer;
  list-style-type: none;
  text-transform: capitalize;
}

.select__list .select__item:hover {
  background-color: rgba(224, 229, 231, 0.5);
}

.join__us-btn-wrapper {
  cursor: pointer;
  width: 190px;
  height: 67px;
}
@media (max-width: 320px) {
  .join__us-btn-wrapper {
    width: 152px;
    height: 58px;
  }
}

.join__now {
  border: none;
  outline: none;
  cursor: pointer;
  width: 100%;
  height: 67px;
  background: #fe753e;
  border-radius: 10px;
  font-weight: 800;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.323077px;
  color: #ffffff;
  position: relative;
  transition: all 0.35s;
}
@media (max-width: 768px) {
  .join__now {
    width: 86%;
    height: 61px;
  }
}
.join__now span {
  position: relative;
  z-index: 2;
}

.join__now:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  border-radius: 10px;
  background: #e9c80f;
  transition: all 0.35s;
}

.join__now:hover {
  color: #fff;
}

.join__now:hover:after {
  width: 100%;
}

.dots__previews {
  width: 91px;
  height: 101px;
  background-image: url("../images/default/dots.png");
  position: absolute;
  top: 43%;
  left: -10%;
  z-index: -1;
}

.slider__previews {
  display: flex;
  margin: 0 auto;
}
@media (max-width: 320px) {
  .slider__previews {
    width: 310px;
    margin: 0;
  }
}

.img__wrapper {
  width: 76%;
  height: 626px;
  border-radius: 2%;
  position: relative;
  z-index: -1;
  left: 20%;
}
@media (max-width: 1099px) {
  .img__wrapper {
    width: 96%;
  }
}

.out {
  background-color: rgba(189, 185, 185, 0.459);
  background-image: url("../images/slider__top/top__one.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transition: background 2s ease-out;
}

.text__out {
  display: none;
  width: 336px;
  min-height: 100px;
  right: 0;
  position: absolute;
  text-align: center;
  line-height: 1;
  background-color: #fff;
  opacity: 0.5;
  border-bottom-left-radius: 139px;
}
@media (max-width: 768px) {
  .text__out {
    width: 301px;
    min-height: 175px;
  }
}
@media (max-width: 450px) {
  .text__out {
    width: 220px;
    min-height: 175px;
  }
}
.text__out .correct__city {
  font-size: 50px;
  color: #f79823;
  font-weight: 900;
  margin: 0 auto;
  line-height: 1;
}
@media (max-width: 768px) {
  .text__out .correct__city {
    font-size: 31px;
    color: #181716;
    font-weight: 800;
  }
}
.text__out .places__count {
  line-height: 1;
  width: 170px;
  font-size: 48px;
  font-weight: 900;
  color: #43e90d;
  font-weight: 800;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .text__out .places__count {
    width: 185px;
    font-size: 31px;
  }
}