.work__everywhere-wrapper {
  position: relative;
}
.work__everywhere-wrapper .work__everywhere-top--wrapper {
  display: flex;
  justify-content: space-between;
  max-width: 1040px;
  margin: 0 auto;
}
@media (max-width: 1050px) {
  .work__everywhere-wrapper .work__everywhere-top--wrapper {
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 375px) {
  .work__everywhere-wrapper .work__everywhere-top--wrapper {
    margin-right: 0 auto;
  }
}

.everywhere__title {
  text-align: initial;
  width: 51%;
  font-weight: bold;
  font-size: 30px;
  line-height: 45px;
  letter-spacing: 0.3px;
  color: #121212;
}
@media (max-width: 1050px) {
  .everywhere__title {
    width: 74%;
    margin-bottom: 15px;
  }
}
@media (max-width: 680px) {
  .everywhere__title {
    line-height: 40px;
  }
}
@media (max-width: 450px) {
  .everywhere__title {
    font-size: 23px;
    line-height: 33px;
  }
}
@media (max-width: 375px) {
  .everywhere__title {
    line-height: 41px;
    text-align: center;
  }
}

.everywhere__call-to-action--wrapper {
  width: 51%;
  margin-bottom: 60px;
}
@media (max-width: 1050px) {
  .everywhere__call-to-action--wrapper {
    width: 74%;
    text-align: center;
  }
}
.everywhere__call-to-action--wrapper .call-to-action__text {
  font-size: 15px;
  line-height: 28px;
  letter-spacing: 0.346154px;
  color: #404852;
}
@media (max-width: 1050px) {
  .everywhere__call-to-action--wrapper .call-to-action__text {
    text-align: center;
    text-align: start;
  }
}
@media (max-width: 680px) {
  .everywhere__call-to-action--wrapper .call-to-action__text {
    line-height: 26px;
  }
}
@media (max-width: 375px) {
  .everywhere__call-to-action--wrapper .call-to-action__text {
    line-height: 25px;
    margin-bottom: 15px;
    text-align: center;
  }
}
.everywhere__call-to-action--wrapper .call-to-action__link {
  font-weight: bold;
  font-size: 15px;
  line-height: 28px;
  letter-spacing: 0.346154px;
  color: #1ea59a;
}
.everywhere__call-to-action--wrapper .call-to-action__link:hover,
.everywhere__call-to-action--wrapper .call-to-action__link:active {
  color: #f57803;
  transition: 1 all;
  transition: 0.8s all;
}

.dots__call-to-action {
  width: 91px;
  height: 101px;
  background-image: url(../images/default/dots.png);
  position: absolute;
  top: 79%;
  left: 10%;
  z-index: -1;
}